/* Header */
/* Add container to contain the heaader. */
.container1 {
    position: relative;
    text-align: center;
    color: #f87b37;
  }
  /* Add positioning to the profile photo. */
  .profilephoto {
    padding: 60px;
    position: left;
    background: #50704e;
}
  /* Add a colour size, allignment to the header. */
  .header {
      padding: 60px;
      text-align: Right;
      background: #50704e;
      color: white;
      font-size: 30px;
  }



/* Contact Info Bar */
/* Add container to contain the contact info bar. */
.containerinfo {
    position: relative;
    text-align: center;
    color: #f87b37;
  }
  /* Add a colour size, allignment to the header. */
  .contactinfobar {
      padding: 60px;
      text-align: center;
      background: #000000;
      color: #ffffff;
      font-size: 15px;
  }
  
  
  
  /* About */
  /* Add container to contain the About section. */
  .container2 {
      position: relative;
      text-align: left;
      color: #f87b37;
  }
  /* Add a colour size, allignment to the about text. */
  .about {
      padding: 60px;
      text-align: left;
      background: #50704e;
      color: rgb(0, 0, 0);
  }
  
  
  
  /* Education */
  /* Create three equal columns for education. */
  .column {
      float: left;
      width: 33.33%;
  }
    
  /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
  }
  /* Add container to contain the Education section. */
  .container3 {
      position: relative;
      text-align: left;
      color: #f87b37;
  }
  /* Add a colour size, allignment to the education  text. */
  .education {
      padding: 60px;
      text-align: left;
      background: #50704e;
      color: rgb(255, 255, 255);
  }
  
  
  
  /* Projects */
  /* Create three equal columns for education. */
  .column {
      float: left;
      width: 33.33%;
  }
    
  /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
  }
  /* Add container to contain the Education section. */
  .container4 {
      position: relative;
      text-align: left;
      color: #f87b37;
  }
  /* Add a colour size, allignment to the education  text. */
  .projects {
      padding: 60px;
      text-align: left;
      background: #50704e;
      color: rgb(0, 0, 0);
  }
  /* Add picture gallery settings. */
  div.gallery {
    border: 1px solid #ccc;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }



/* Work Experience */
  /* Add container to contain the work experience section. */
  .container5 {
    position: relative;
    text-align: left;
    color: #50704e;
}
/* Add a colour size, allignment to the about text. */
.workexperience {
    padding: 60px;
    text-align: left;
    background: #50704e;
    color: rgb(255, 255, 255);
}