/* Header */
/* Add container to contain the heaader. */
.container1 {
    position: relative;
    text-align: center;
    color: white;
  }
  /* Add a colour size, allignment to the header. */
  .header {
      padding: 60px;
      text-align: center;
      background: #eacc67;
      color: white;
      font-size: 30px;
  }



/* Contact Info Bar */
/* Add container to contain the contact info bar. */
.containerinfo {
    position: relative;
    text-align: center;
    color: rgb(255, 255, 255);
  }
  /* Add a colour size, allignment to the header. */
  .contactinfobar {
      padding: 60px;
      text-align: center;
      background: #000000;
      color: #eacc67;
      font-size: 15px;
  }
  
  
  
  /* About */
  /* Add container to contain the About section. */
  .container2 {
      position: relative;
      text-align: left;
      color: white;
  }
  /* Add a colour size, allignment to the about text. */
  .about {
      padding: 60px;
      text-align: left;
      background: #eacc67;
      color: rgb(0, 0, 0);
  }
  
  
  
  /* Education */
  /* Create three equal columns for education. */
  .column {
      float: left;
      width: 33.33%;
  }
    
  /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
  }
  /* Add container to contain the Education section. */
  .container3 {
      position: relative;
      text-align: left;
      color: white;
  }
  /* Add a colour size, allignment to the education  text. */
  .education {
      padding: 60px;
      text-align: left;
      background: #eacc67;
      color: rgb(255, 255, 255);
  }
  
  
  
  /* Projects */
  /* Create three equal columns for education. */
  .column {
      float: left;
      width: 33.33%;
  }
    
  /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
  }
  /* Add container to contain the Education section. */
  .container4 {
      position: relative;
      text-align: left;
      color: rgb(255, 255, 255);
  }
  /* Add a colour size, allignment to the education  text. */
  .projects {
      padding: 60px;
      text-align: left;
      background: #eacc67;
      color: rgb(0, 0, 0);
  }



/* Work Experience */
  /* Add container to contain the work experience section. */
  .container5 {
    position: relative;
    text-align: left;
    color: white;
}
/* Add a colour size, allignment to the about text. */
.workexperience {
    padding: 60px;
    text-align: left;
    background: #eacc67;
    color: rgb(0, 0, 0);
}